body {
    background-color: plum;
}

#score_label {
    font-size: 50px;
    float: left;
    margin-left: 150px;
}

#timer_label {
    font-size: 50px;
    float: right;
    margin-right: 150px;
}

h1 {
    font-family: 'Special Elite', fantasy;
    color: blueviolet;
    background-color: whitesmoke;
}

#show_sketch {
    float: right;
    margin-right: 200px;
}

canvas 
  {
    border:5px solid white;
    border-radius:20px;
    margin-top:150px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px grey;}
  to {box-shadow: 1px 1px 38px white;}

}

p {
    padding-top: 10px;
    font-size: 25px;
}

#sketch_to_draw {
    color: red;
}

p, span
  {
    padding-top:10px;
    font-family: 'Special Elite', fantasy;
    font-size:25px;
  }
